[project]
	state = active
[access "refs/*"]
	create = group Toroplus Team
	create = group Warren Togami
	label-Code-Review = -2..+2 group Toroplus Team
	label-Code-Review = -2..+2 group Warren Togami
	label-Verified = -1..+1 group Toroplus Team
	label-Verified = -1..+1 group Warren Togami
	submit = group Toroplus Team
	owner = group Administrators
