[project]
[access "refs/*"]
	create = group Toroplus Team
	label-Code-Review = -2..+2 group Toroplus Team
	label-Verified = -1..+1 group Toroplus Team
	submit = group Toroplus Team
	owner = group Administrators
	forgeCommitter = group Toroplus Team
	push = +force group Toroplus Team
[submit]
	action = rebase if necessary
